
<% provide(:title, "Edit garment") %>
<h1>Alter Your Garment!</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @garment do |f| %>

    <div class="image field">
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.hidden_field :image_cache %><br>
    </div><br>
    
    <%= f.label :name %><br>
    <%= f.text_area :name %><br>

    <%= f.label :element %><br>
    <%= f.text_area :element %><br>

    <%= f.label :style %><br>
    <%= f.text_area :style %><br>

    <%= f.label :color %><br>
    <%= f.text_area :color %><br>

    <%= f.label :season %><br>
    <%= f.text_area :season %><br>

    <%= f.label :worn %><br>
    <%= f.check_box :worn %><br>

      <%= f.submit "upgrade", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>
