  <h1>Your Garments</h1>


<div class="container">
<ul>
  <% current_user.garments.each do |garment| %>
    <li><%= link_to garment.name, garment %></li>
  <% end %>
  
  </ul>
</div>

<div class="container">
<%= link_to root_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>

<%= link_to new_garment_path, class: "btn btn-default" do %>
    <span>Add Another Garment!</span>
<% end %>

<%= link_to new_accessory_path, class: "btn btn-default" do %>
    <span>Add/View Accessories!</span>
<% end %>


<%= link_to shoes_path, class: "btn btn-default" do %>
    <span>Add/View Shoes!</span>
<% end %>


</div>
