<h3>Garment name:</h3>
<%= @garment.name %>
<%= @garment.element%>
<%= @garment.style %>
<%= @garment.color %>
<%= @garment.occassion %>
<%= @garment.season %>
<%= @garment.worn %>

<%#link back to index %>
