<h2>Garment name:</h2>
<ul>
    <li><%= @garment.name %></li>
    <li><%= @garment.element%></li>
    <li><%= @garment.style %></li>
    <li><%= @garment.color %></li>
    <li><%= @garment.season %></li>
    <li><%= @garment.worn %></li>
</ul>
<%#link back to index %>
<%= link_to 'Go back', garments_path %>
<%= link_to 'Delete this garment', garment_destroy_path(@garment) %>
