<h2>Garment name:</h2>
<ul>
    <li><%= @garment.name %></li>
    <li><%= @garment.element%></li>
    <li><%= @garment.style %></li>
    <li><%= @garment.color %></li>
    <li><%= @garment.occasion %></li>
    <li><%= @garment.season %></li>
    <li><%= @garment.worn %></li>
</ul>
<%#link back to index %>
