<div class="container">
<h1>Your Armoire</h1>

  <% @outfits.each do |outfit|%>
  <div class="row">
    <div class="col-md-4">
    <p><%= outfit.garment.name%></p>
         <div class="image">    
        <div>
          <img width="275" height="225" src="<%= outfit.garment.image%>">
        </div>
      </div>
    
    </div>
   <div class="col-md-4">
    <p><%= outfit.shoe.name%></p>
         <div class="image">    
        <div>
          <img width="275" height="225" src="<%= outfit.shoe.image%>">
        </div>
      </div>
    
    </div>
    <div class="col-md-4">
    <p><%= outfit.accessory.name%></p>
         <div class="image">    
        <div>
          <img width="275" height="225" src="<%= outfit.accessory.image%>">
        </div>
      </div>
    
    </div>
      <%= button_to "Delete Outfit", outfit_path(outfit), method: :delete %>
  <%end%>

</div>

