<h1>Let's Make An Outfit!</h1>

<%= render 'form' %>

<% if current_user.garments.present? && current_user.shoes.present? && current_user.accessories.present? %>
<%= button_to seasonal_outfit_path do %>
Recommend Me An Outfit
<% end %>

<%= button_to outfits_path do %>
View Your Armoire<% end %>

<% else %>

<div class="row">
<div class="col-md-2"></div>
<div class="col-md-6">
<%= button_to "Add Garment", new_garment_path, method: :get %>
<%= button_to "Add Shoe", new_shoe_path, method: :get %>
<%= button_to "Add Accessory", new_accessory_path, method: :get %>
</div>
<div class="col-md-2"></div>
</div>
<% end %>
