<h1>Random Outfits!</h1>

<div class="row">

<div class="col-md-4">

    <h2><%= @random_garment.name%></h2>
         <div class="image">
        <div>
          <img width="275" height="225" src="<%= @random_garment.image%>">
        </div>
      </div>

    </div>


<div class="col-md-4">

    <h2><%= @random_shoe.name%></h2>
         <div class="image">
        <div>
          <img width="275" height="225" src="<%= @random_shoe.image%>">
        </div>
      </div>

    </div>


<div class="col-md-4">

    <h2><%= @random_accessory.name%></h2>
         <div class="image">
        <div>
          <img width="275" height="225" src="<%= @random_accessory.image%>">
        </div>
      </div>

    </div>

  <%= link_to pending_outfits_path, class: "btn btn-default", id: "pending_outfit" do %>
      <span>Keep or Reject This Outfit?</span>
  <% end %>
  <%= link_to random_outfit_path, class: "btn btn-default", id: "pending_outfit" do %>
      <span>Get Another Random Outfit!</span>
  <% end %>

</div>
