<h1>Random Outfits!</h1>

<div class="row">

<div class="col-md-4">
<% if @random_garment.present? %>
    <h2><%= @random_garment.try(:name)%></h2>
         <div class="image">
        <div>
          <img width="275" height="225" src="<%= @random_garment.try(:image)%>">
        </div>
      </div>
  <% else %>
    <p><%= link_to "Add Garment", new_garment_path %></p>
    </div>
    <% end %>


<div class="col-md-4">

    <h2><%= @random_shoe.try(:name)%></h2>
         <div class="image">
        <div>
          <img width="275" height="225" src="<%= @random_shoe.try(:image)%>">
        </div>
      </div>

    </div>


<div class="col-md-4">

    <h2><%= @random_accessory.try(:name)%></h2>
         <div class="image">
        <div>
          <img width="275" height="225" src="<%= @random_accessory.try(:image)%>">
        </div>
      </div>

    </div>

<%= form_for Outfit.new, html: { multipart: true } do |f| %>
<%= form_for(Outfit.new) do |f| %>
  <div class="field">
    <%= f.hidden_field :garment_id, value: @random_garment.id %><br>
    <%= f.hidden_field :shoe_id, value: @random_shoe.id %><br>
    <%= f.hidden_field :accessory_id, value: @random_accessory.id %><br>

  </div>

  <div class="field">
  </div>

  <div class="actions">
    <%= f.submit "Add to Armoire" %>
  </div>
  <% end %>
  <% end %>

  <%= link_to random_outfit_path, class: "btn btn-default", id: "pending_outfit" do %>
      <span>Get Another Random Outfit!</span>
  <% end %>


</div>
