<h1>Seasonal Outfits!</h1>

<div class="row">

<div class="col-md-4">

    <h2><%= @seasonal_garment.try(:name)%></h2>
         <div class="image">
        <div>
          <img width="300" height="225" src="<%= @seasonal_garment.try(:image)%>">
        </div>
      </div>
</div>

<div class="col-md-4">

    <h2><%= @seasonal_shoe.try(:name)%></h2>
         <div class="image">
        <div>
          <img width="300" height="225" src="<%= @seasonal_shoe.try(:image)%>">
        </div>
      </div>

    </div>


<div class="col-md-4">

    <h2><%= @seasonal_accessory.try(:name)%></h2>
         <div class="image">
        <div>
          <img width="300" height="225" src="<%= @seasonal_accessory.try(:image)%>">
        </div>
      </div>

    </div>
  </div>


<% if @seasonal_accessory && @seasonal_shoe && @seasonal_garment %>
    <%= form_for Outfit.new, html: { multipart: true } do |f| %>
        <%= form_for(Outfit.new) do |f| %>
            <div class="field">
              <%= f.hidden_field :garment_id, value: @seasonal_garment.id %><br>
              <%= f.hidden_field :shoe_id, value: @seasonal_shoe.id %><br>
              <%= f.hidden_field :accessory_id, value: @seasonal_accessory.id %><br>
            </div>
              
          <div class="actions">
            <%= f.submit "Add to Armoire" %>
          </div>
        <% end %>
    <% end %>

    
<% elsif !@seasonal_accessory.present? %>
    <p>You do not have any accessories in your Armoire.</p>
    <%= link_to "Create Accessory", new_accessory_path %>
<% elsif !@seasonal_shoe.present? %>
    <p>You do not have any shoes in your Armoire.</p>
    <%= link_to "Create Shoe", new_shoe_path %>
<% elsif !@seasonal_garment.present? %>
<p><strong>You do not have any garments in your Armoire.</strong></p>
<%= link_to "Create Garment", new_garment_path %>
<% end %>



</div>