<h1>Presenting.. Your New Outfit!</h1>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <h2><%= @outfit.garment.name %></h2>
      <div class="image">
        <p>
          <img width="300" height="225" src="<%= @outfit.garment.image%>">
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <h2><%= @outfit.shoe.name %></h2>
      <div class="image">
        <p>
          <img width="300" height="225" src="<%= @outfit.shoe.image%>">
        </p>
        </div>
    </div>

    <div class="col-md-4">
      <h2><%= @outfit.accessory.name %></h2>
      <div class="image">
        <p>
          <img width="300" height="225" src="<%= @outfit.accessory.image%>">
        </p>
      </div>
    </div>

</div>

  </div>


  <%= link_to pending_outfits_path, class: "btn btn-default", id: "pending_outfit" do %>
      <span>Keep or Reject This Outfit?</span>
  <% end %>


</div>
