
<div class="container">

<h1>User Profile</h1>

<div class="row">

<div class="col-md-4">
  <h3>User:<%= @user.username %></h3>
  <h4>Email <%= @user.email  %></h3>
</div>

<div class="col-md-4">
  <h3>Follows: <%=@user.following_count %> Users</h3>


<table class= "table table-hover">
  <% @user.follower_friendships. each do |follower| %>
<tr>
<td><%= User.find(follower.followed_id).username %></td>
</tr>
    <% end %>
</table>


<table class= "table table-hover">
  <% current_user.all_outfits.each do |outfit| %>
<tr>
<p>Outfit</p>
<td><%= link_to image_tag(outfit.garment.image), outfits_path(other_user_id: outfit.user.id) %></td>
<td><%= link_to image_tag(outfit.shoe.image), outfit %></td>
<td><%= link_to image_tag(outfit.accessory.image), outfit %></td>

</tr>

    <% end %>
</table>


</div>


<div class="col-md-4">
    <h3>Followers: <%= @user.followers_count %></h3>

  <table class= "table table-hover">
  <% @user.followed_friendships. each do |follower| %>
<tr>
<td><%= User.find(follower.follower_id).username %></td>
</tr>
    <% end %>
</table>
</div>

</div>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">

<%= link_to users_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>

<%= link_to users_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-plus"></i>
<% end %>

<%= link_to users_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-heart"></i>
<% end %>

</div>
<div class="col-md-4"></div>
</div>

