<div class="container">
    <div class="col-md-4">
    <h2 class="center">Armoire Users</h2>
    </div>
    <div class="col-md-4"></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
          <caption class="text-center">Follow your friends:</caption>
          <thead>
            <tr>
            <th>User Name</th>
            <th>Outfits</th>
            <th>Followers</th>
            <th>Following</th>
            <th>Follow Armoire?</th>
        </tr>
    </thead>
    <tbody>

<% @users.each do |user| %>

<tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.outfits.count %></td>
    <td><%= user.followers_count %></td>
    <td><%= user.following_count %></td>
    <td>
    <div class="btn-1" id="follow-unfollow-<%= user.id %>">
       <%= render partial: 'follow_unfollow', locals: {user: user} %>
    </div>



    </td>

</tr>

<% end %>
</tr>
          </tfoot>
        </table>
      </div><!--end of .table-responsive-->
    </div>
  </div>
</div>

<%= link_to root_path, class: "btn btn-default" do %>
 <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>

<%= link_to outfits_path, class: "btn btn-default" do %>
    <%= fa_icon "chevron-left", text: "Your Armoire", left: true %>
    <% end %>
</div>

