<div class="container">


<table class="table table-hover">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Followers</th>
            <th>Following</th>
            <th>Follow Armoire?</th>
        </tr>
    </thead>
    <tbody>

<% @users.each do |user| %>

<tr>
    <td><%= link_to user.username, user %></td>
    <td><%= user.followers_count %></td>
    <td><%= user.following_count %></td>
    <td>
        <% if current_user.is_following?(user) %>
            <%= link_to 'Unfollow', unfollow_user_path(user),
            method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
            <%= link_to 'Follow', follow_user_path(user),
            method: :put, data: {confirm: 'Are you sure?'} %>
        <% end %>
    </td>

</tr>

<% end %>

    </tbody>
</table>

<%= link_to root_path, class: "btn btn-default" do %>
 <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>

<%= link_to outfits_path, class: "btn btn-default" do %>
    <%= fa_icon "chevron-left", text: "Your Armoire", left: true %>
    <% end %>
</div>

