<div class="container">


<table class="table table-hover">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Home Page</th>
            <th>Follow Armoire?</th>
        </tr>
    </thead>
    <tbody>

<% @users.each do |user| %>

<tr>
    <td> <%= user.username %></td>
    <td><%= link_to user.username, user %></td>
    <td>
        <% if current_user.is_following?(user) %>
            <%= link_to 'Unfollow', unfollow_user_path(user),
            method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
            <%= link_to 'Follow', follow_user_path(user),
            method: :put, data: {confirm: 'Are you sure?'} %>
        <% end %>
    </td>

</tr>

<% end %>

    </tbody>
</table>

  <%= link_to "show_index_of_users", users_path %>
  <%= link_to "current_user_show", current_user %>
</div>

