
<div class="container">

<h1>User Profile: <%= @user.username %></h1>

<div class="row">

<div class="col-md-4">
  <h3>User:<%= @user.username %></h3>
  <h4>Email <%= @user.email  %></h3>
</div>

<div class="col-md-4">
  <h3>Follows: <%=@user.following_count %> Users</h3>


<table class= "table table-hover">
  <% @user.follower_friendships. each do |follower| %>
<tr>
<td><%= User.find(follower.followed_id).username %></td>
</tr>
    <% end %>
</table>

</div>

<div class="col-md-4">
    <h3>Followers: <%= @user.followers_count %></h3>

  <table class= "table table-hover">
  <% @user.followed_friendships. each do |follower| %>
<tr>
<td><%= User.find(follower.follower_id).username %></td>
</tr>
    <% end %>
</table>
</div>

</div>

<h2 class="center">
<div class="row">
<%= @user.username%>'s Outfits</h2>
<br>
  <% @outfits.each do |outfit| %>
    <div class="col-md-4">
      <%= link_to image_tag(outfit.garment.image), outfits_path(other_user_id: outfit.user.id), class: 'img-responsive' %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag(outfit.shoe.image), outfits_path(other_user_id: outfit.shoe.id), class: 'img-responsive' %>
    </div>

  <div class="col-md-4">
    <%= link_to image_tag(outfit.accessory.image), outfits_path(other_user_id: outfit.accessory.id), class: 'img-responsive' %>
  </div>
</div>
    <% end %>

</div>

<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">

<%= link_to users_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>

 <% if current_user.is_following?(@user) %>
            <%= button_to 'Unfollow', unfollow_user_path(@user),
            method: :delete, data: {confirm: 'Are you sure?'} %>
        <% else %>
            <%= button_to 'Follow', follow_user_path(@user),
            method: :put, data: {confirm: 'Are you sure?'} %>
        <% end %>

</div>
<div class="col-md-4"></div>
</div>

