<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>

  <!-- User armoire below. Need to show user favorites on top once built-->
  <!-- User garments -->
    <section class="user_garments">
      <ul>
        <% @user.garments.each do |garments| %>
          <li> <%= link_to garment.name, garment %> </li><br>
        <% end %>
      </ul>
      <br><p><%= link_to "Why don't you get into something more comfortable? See all your clothes here.", garments_path %></p><br>
    </section>

  <!-- User shoes -->
    <section class="user_shoes">
      <ul>
        <% @user.shoes.each do |shoe| %>
          <li> <%= link_to shoe.name, shoe %> </li><br>
        <% end %>
      </ul>
      <br><p><%= link_to "Shop your shoe closet! See all your shoes here.", shoes_path %></p><br>
    </section>

    <!-- User accessories -->
    <section class="user_accessories">
      <ul>
        <% @user.accessories.each do |accessory| %>
          <li> <%= link_to accessory.name, accessory %> </li><br>
        <% end %>
      </ul>
      <br><p><%= link_to "Check out your sparkle! See your accessories here.", accessories_path %></p><br>
    </section>

  </aside>
</div>