<% if signed_in? %>
  <div class="navbar center">
      <%= link_to outfits_path, class: "btn btn-default" do %>
     Your Armoire
     <% end %>
     
    <%= link_to garments_path, class: "btn btn-default" do %>
    My Garments
    <% end %>
     <%= link_to shoes_path, class: "btn btn-default" do %>
    My Shoes
    <% end %>
    <%= link_to accessories_path, class: "btn btn-default" do %>
    My Accessories
    <% end %>
    <%= link_to new_outfit_path, class: "btn btn-default" do %>
    Create an Outfit
    <% end %>

     <%= link_to users_path, class: "btn btn-default" do %>
    Connect With Other Users
    <% end %>

<% else %>
  <%= "Please " %> <%=link_to "log in", user_session_path%> <%=" to view your armoire!"%>
<% end %>
  </div>



<div class="center jumbotron">
<h1 class="center bold-header">Armoire</h1>

<h2 class="center italic-h2">Style your life</h2>


<div class="row">
<div class="col-md-4">
      <p>Organized Wardrobe</p>
         <%= link_to image_tag("girl-pose.svg", alt: "girl pose"),
            '#' %>
      </div>
        <div class="col-md-4">
            <p>Text Alerts</p>
              <span class="glyphicon glyphicon-phone" id="phone" aria-hidden="true"></span>
          </div>

        <div class="col-md-4"><p>Focus on What Matters</p>
              <%= link_to image_tag("man-pose.svg", alt: "Wardrobe"),
            '#' %>
        </div>

</div>

      <!-- facebook huge block of login in js goes here -->


<% if !signed_in? %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    <% else %>
     <%= link_to "Start building your wardrobe!", new_shoe_path, class: "btn btn-lg btn-primary" %>
<% end %>
</div>


</div>
