<h1>Your Shoes</h1>
<%if current_user%>
  <%= render 'shoes' %> <br>
<%else%>
  <%= "Please " %> <%=link_to "log in", login_path%> <%=" to view your shoes"%><br>
<% end %>

<br><%= link_to "Go ahead, add another.  You can never have too many shoes!", new_shoe_path %><br>

<br><%= link_to "Check out your sparkle! See your accessories here.", accessories_path %><br>

<br><%= link_to "Why don't you get into something more comfortable? See all your clothes here.", garments_path %>
