<h1>Your Shoes</h1>
<%if current_user%>
  <%= render 'shoes' %> <br>
<%else%>
  <%= "Please " %> <%=link_to "log in", login_path%> <%=" to view your shoes"%><br>
<% end %>

<%= link_to root_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>

<%= link_to shoes_path, class: "btn btn-default" do %>
    <span>Add/View Shoes!</span>
<% end %>


<%= link_to new_accessory_path, class: "btn btn-default" do %>
    <span>Add Accessories!</span>
<% end %>

<%= link_to garments_path, class: "btn btn-default" do %>
    <span>Add/View Garments!</span>
<% end %>

