<h2>Your Shoe</h2>
<div class="container">

      <li><%= @shoe.name %></li>
      <li><%= @shoe.style %></li>
      <li><%= @shoe.color %></li>
      <li><%= @shoe.occasion %></li>
      <li><%= @shoe.season %> </li>
      <li><%= @shoe.worn %></li>

</div>

