<h2><%= @shoe.name %></h2>
  <div class="container">
    <li><strong>Style: </strong> <%= @shoe.style %></li>
    <li><strong>Color: </strong> <%= @shoe.color %></li>
    <li><strong>Occasion: </strong> <%= @shoe.occasion %></li>
    <li><strong>Season: </strong> <%= @shoe.season %> </li>
    <li><strong>Ready to wear: </strong> <%= @shoe.worn %></li>
  </div>

<%= link_to 'Go back', shoes_path %>
<%= link_to 'Get rid of these shoes!', shoes_delete_path(@shoe) %>
