<h1><%= @shoe.name %></h1>
  <div class="container">
    <li><strong>Style: </strong> <%= @shoe.style %></li>
    <li><strong>Color: </strong> <%= @shoe.color %></li>
    <li><strong>Occasion: </strong> <%= @shoe.occasion %></li>
    <li><strong>Season: </strong> <%= @shoe.season %> </li>
    <li><strong>Ready to wear: </strong> <%= @shoe.worn %></li>
  </div>

