<h1>Your Accessories</h1>

<div class="container">

<ul>
  <% current_user.accessories.each do |acc| %>
    <li><%= link_to acc.name, acc %></li>
  <% end %>
  </ul>

</div>


<%= link_to root_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>


<%= link_to new_accessory_path, class: "btn btn-default" do %>
    <span>Add An Accessory!</span>
<% end %>


<%= link_to shoes_path, class: "btn btn-default" do %>
    <span>View Shoes!</span>
<% end %>

<%= link_to garments_path, class: "btn btn-default" do %>
    <span>View Garments!</span>
<% end %>
