<h2>Your Accessory</h2>
<div class="container">
<ul>
  <li><%= @accessory.name %></li>
  <li><%= @accessory.style %></li>
  <li><%= @accessory.color %></li>
  <li><%= @accessory.occasion %></li>
  <li><%= @accessory.season %> </li>
  <li><%= @accessory.worn %></li>
</ul>
</div>

<%= link_to 'Go back', accessories_path %>
<%= link_to 'These diamonds lost their sparkle.', accessory_delete_path(@accessory) %>
<%= link_to 'Add another accessory', new_accessory_path %>
