<h2>Your Accessory</h2>
<%= @accessory.name %><br>
<%= @accessory.style %><br>
<%= @accessory.color %><br>
<%= @accessory.occasion %><br>
<%= @accessory.season %> <br>
<%= @accessory.worn %><br>

<%= link_to 'Go back', accessories_path %>
<%= link_to 'Delete this accessory', delete_accessory_path(@accessory) %>
<%= link_to 'Edit', edit_accessory_path(@accessory) %>
