<h1><%=@accessory.name.capitalize%></h1><br>

  <div class="container">
    <div class="image" >
      <td><%= image_tag @accessory.image %></td><br>

        <strong>Style:</strong> <%= @accessory.style %><br>
        <strong>Color:</strong> <%= @accessory.color %><br>
        <strong>Occasion:</strong> <%= @accessory.occasion %><br>
        <strong>Season:</strong> <%= @accessory.season %><br> 
        <strong>Ready to wear:</strong> <%= @accessory.worn %><br>
    </div>
  </div>

  <div class="container center">

<%= link_to accessories_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-arrow-left"></i>
<% end %>

<%= link_to accessory_delete_path(@accessory), class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-remove"></i>
<% end %>


<%= link_to new_accessory_path, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-pencil"></i>
<% end %>
</div>
