<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Chris Bradshaw, Chris McGuigan, Jen Abella, Maisie Athens">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Retina.js - Load first for faster HQ mobile images. -->
    <%# javascript_include_tag 'plugins/retina/retina.min' %>
   
    <!-- Default Fonts -->
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900' rel='stylesheet' type='text/css'>
    <!-- Modern Style Fonts (Include these is you are using body.modern!) -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
    <!-- Vintage Style Fonts (Include these if you are using body.vintage!) -->
    <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>


    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<!-- Alternate Body Classes: .modern and .vintage -->

<body id="page-top" class="vintage header-dark">

    <!-- Navigation -->
    <!-- Note: navbar-default and navbar-inverse are both supported with this theme. -->
    <nav class="navbar navbar-inverse navbar-expanded">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"><%= fa_icon "fa fa-archive", text: "Your Armoire" %></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    
<div class="" style="display:inline-block; padding: 5px; width:36px; height:36px;background: white; border-radius: 30px; margin-top:4px">
    <%= image_tag 'fashion/armoire-logo.png', height: '36px', width: '36px', class: 'img-responsive'%>
</div>

<span style="height: 40px; vertical-align: middle; display: inline-block; margin-left: 5px">ARMOIRE</span>
                </a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
<%= render 'layouts/header' %>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Instructions: Set your background image using the URL below. -->
    <header style="background-image: url('<%= asset_path("fashion/bg-header.jpg") %>')">
        <div class="intro-content">
       <%= yield %>
        </div>
    </header>
    

    <section id="about">

       

        <div class="container-fluid" id="color">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                   
                    <h1>Decision Fatigue</h1>
                    <p>A real psychological condition in which a person’s productivity suffers as a result of becoming mentally exhausted from making so many irrelevant decisions.</p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row text-center content-row">
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                    <div class="about-content">
                        
                        <h3>Reduce Decision Fatigue</h3>
                        <p>Discover why a number of very successful people have adopted this philosophy in their daily routines. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                    <div class="about-content">
                        
                        <h3>Easy to Look Great</h3>
                        <p>Armoire is built to recommend customized outfits based on your life. </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                    <div class="about-content">
                        
                        <h3>Life is complicated enough</h3>
                        <p> After using Armoire, one might find that they are significantly less stressed, more productive and more fulfilled.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                    <div class="about-content">
                        
                        <h3>Feedback from friends and family</h3>
                        <p>Friends, family and stylists can connect and comment on your outfits. Follow trendsetters and gain inspiration.</p>
                    </div>
                </div>
            </div><!-- end of row -->
    </section>


    <aside class="cta-quote" style="background-image: url('<%= asset_path("fashion/bg-aside.jpg")%>')">
        <div class="container wow fadeIn">
           <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">‘You’ll see I wear only gray or <span class="text-primary">blue</span> suits. I’m trying to pare down decisions. I don’t want to make decisions about what I’m eating or wearing. Because I have too many other decisions to make.’</span>
                    <hr class=" colored">
                    <a class="btn btn-primary-li page-scroll" href="#collection" id="barack">-President Barack Obama</a>
                </div>
                </div>
        </div>
    </aside>

        <section id="process" class="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>Our Process</h2>
                    <hr class="colored">
                    <p>We guide you through the sign up process and add existing articles of clothing into your Armoire</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-clipboard"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Accessibility</h3>
                            <ul>
                                <li>
                                    <em>Add personal preferences</em>
                                </li>
                                <li>
                                    <em>Create outfits and leave comments</em>
                                </li>
                                <li>
                                    <em>Armoire will recommend outfits, based on your input.</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-magic"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Create</h3>
                            <ul>
                                <li>
                                    <em>Add Garments, Shoes and Accessories</em>
                                </li>
                                <li>
                                    <em>Build and Save Your Own Outfits</em>
                                </li>
                                <li>
                                    <em>Armoire will recommend outfits based on your input and daily patterns.</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-tag"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Connect</h3>
                            <ul>
                                <li>
                                    <em>Follow and comment on friend's Armoires</em>
                                </li>
                                <li>
                                    <em>Have your stylist plan upcoming outfits</em>
                                </li>
                                <li>
                                    <em>Only add outfits you actually like.</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer class="footer" style="background-image: url('<%= asset_path("fashion/bg-footer.jpg") %>')">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-phone"></i> Call</h4>
                    <p>212-967-4567</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Visit</h4>
                    <p>https://armoireapp.herokuapp.com/</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:bradshaw.chris@gmail.com">bradshaw.chris@gmail.com</a></p>
                    <p><a href="mailto:jennifermabella@gmail.com">jennifermabella@gmail.com</a></p>
                    <p><a href="mailto:cmcguigan33@gmail.com">cmcguigan33@gmail.com</a></p>
                    <p><a href="mailto:athens_maisie@yahoo.com">athens_maisie@yahoo.com</a></p>



                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">&copy; Armoire <%= Date.today.year %></p>
                </div>
            </div>
        </div>
    </footer>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>

</html>
